.for-admin {
  margin-top: 50px;

  button {
    background-color: rgb(69, 133, 213);
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    height: 5vh;
    margin-right: 40px;
    width: 10vw;
  }
}