.header {
  background-color: #162235;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 18px;
  padding: 20px;
  position: fixed;
  width: 79vw;
  z-index: 1;

  .search-bar {
    background-color: #273246;
    border-radius: 24px;
    margin-left: 30px;
    padding-left: 20px;
    width: 40vw;

    .search-icon {
      background-color: #273246;
      color: #7f8898;
      font-size: 1.8rem;
      margin-top: 10px;
    }

    input {
      background-color: #273246;
      border: none;
      color: rgb(242, 231, 231);
      font-size: large;
      height: 5.7vh;
      margin-left: 10px;
      position: absolute;
      width: 30vw;

      &:focus {
        outline: none;
      }
    }

  }

  .header-icons {
    margin-right: 20px;

    .icons {
      background-color: #293447;
      border-radius: 24px;
      color: #bfc5cde9;
      font-size: 1.5rem;
      margin-left: 8px;
      padding: 10px;
    }

    .menu-titles {
      height: 5.7vh;
      margin-right: 100px;

      .icon {
        margin-top: 10px;
        margin-left: -40px;
        position: absolute;
      }

      button {
        background-color: #162235;
        border: none;
        font-size: 1.2rem;
        margin-top: 10px;
      }
    }
  }
}